<div class="todo-item new-todo-item">

<h3>Add new Todo Item:</h3>

	<%= form_for TodoItem.new, :remote => true do |f| %>

		<div class="field">
			<%= label_tag :name %>
			<%= f.text_field :name %>
		</div>

		<div id="destination-select">
			<div class="field">
				<%= label_tag 'destination' %>
				<%= f.collection_select(:destination_id, Destination.all, :id, :name, :include_blank => "Choose a Destination:") %>
			</div>
		</div>

		<div class="field">
			<%= label_tag :location %>
			<%= f.text_field :location %>
		</div>

		<div class="field">
			<%= f.label :completed %>
			<%= f.check_box :completed %>
		</div>

		<div class="field">
			<%= f.submit %>
		</div>

	<% end %>

</div>