<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %> ">

	<%= link_to todo_item.name, todo_item %>
	<br>
		Destination: <%= todo_item.destination.name %>
	<br>
		Location: <%= todo_item.location %>
	<br>
		<%= todo_item.completed ? 'You did it' : 'Still got time for this one' %>
	<br>
	Longitude: <%= todo_item.longitude %>
	Latitude: <%= todo_item.latitude %>

	<br>
	<span class="toggle-comments-trigger">Add <%= (" / See #{todo_item.comments.count} " ) if todo_item.comments.count > 0 %>comments:</span>
		<span class="toggled-hidden">
			<div class="comments" todo-id="<%= todo_item.id %>">
				<% todo_item.comments.each do |comment| %>
					<%= render comment %>
				<% end %>
			</div>
			<%= render :partial => 'comments/form', :locals =>  { :todo_item => todo_item } %>
		</span>
	

</div>
