<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %> ">

	<%= link_to todo_item.name, todo_item %>
		<br>
			Destination: <%= todo_item.destination.name %>
		<br>
			Location: <%= todo_item.location %>
		<br>
			<%= todo_item.completed ? 'You did it' : 'Still got time for this one' %>
		<br>
		Longitude: <%= todo_item.longitude %>
		Latitude: <%= todo_item.latitude %>
</div>

