<div class="new-comment" todo-id="<%= todo_item.id %>">

	<%= form_for Comment.new(:todo_item_id => todo_item.id), :remote => true do |f| %>
	New Comment:
	
	<%= f.hidden_field :todo_item_id %>

	<div class="field">
		<%= f.text_area :body, :size => ("55x4") %>
	</div>

	<div class="field">
		<%= f.submit %>
	</div>

	<% end %>

</div>