

<div id="map-canvas">
</div>

<div class="destinations">
	<div class="destination" data-item-id="all" latitude="37.941047" longitude="15.932173">
		All around the world
		<br>
		<%= image_tag "globe.png", :width => 160 %>
	</div>

	<% @destinations.each do |destination| %>
		<%= render destination %>
	<% end %> 
</div>

<div>
	<%= render :partial => 'todo_items/form' %>
</div>

<div class="search-box">
	Search for todo items:
	<br>
		in:
		<select id="search-select">
			<option value="0">All</option>
			<% Destination.all.each do |d| %>
				<option value="<%= d.id %>"><%= d.name %></option>
			<% end %>
		</select>
	<br>
	<input id="todo-search" type="text" placeholder="type your search here...">
</div>


<div class="todo_items">
	<% @destinations.each do |destination| %>
			<% destination.todo_items.each do |todo_item| %>
				<div class="hide-me" data-item-id="<%= destination.id %>">
					<%= render :partial => 'todo_items/todo_item', :locals => {:todo_item => todo_item } %>
				</div>
			<% end %>
	<% end %> 
</div>





