<!DOCTYPE html>
<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
			
			<div class="menu">
					<div id="left_menu">
						<ul>
							<li><%= link_to 'Todo Items', todo_items_path %></li>
						</ul>
					</div>

				

				<div id="right_menu">
					Coded by OrenBnv
				</div>

			</div>

		</div>

		<div class="container">
			<%= yield %>
		</div>

</body>
</html>
