<!DOCTYPE html>
<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=??????&sensor=false">
</script>

<script>
	$(function() {
		initialize();
	
 	<% TodoItem.all.each do |t| %>
  	putMarkers(<%= t.latitude ? t.latitude : 0 %>, <%= t.longitude ? t.longitude : 0 %>, "<%= t.name %>");
	<% end %>

	});

	// puts all the todo items in a json containing array of objects
	// var current_todo_items = <%= raw(TodoItem.all.to_json) %>; 
</script>


</head>
<body>

<div class="header">
			
			<div class="menu">
					<div id="left_menu">
						<ul>
							<li><%= link_to 'Home(Destinations)', destinations_path %></li>
							<li><%= link_to 'Todo Items', todo_items_path %></li>
						</ul>
					</div>

				

				<div id="right_menu">
					Coded by OrenBnv
				</div>

			</div>

		</div>

		<div class="container">
			<%= yield %>
		</div>

</body>
</html>
